[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
crewai = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
google-api-python-client = "*"
arxiv = "*"
pandas = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
